

<div class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>

  <div id="toaster"></div>

  <!-- ====================================
  ——— WRAPPER
  ===================================== -->
  <div class="wrapper">




    <!-- ====================================
      ——— LEFT SIDEBAR WITH OUT FOOTER
    ===================================== -->
    <aside class="left-sidebar bg-sidebar">
      <div id="sidebar" class="sidebar sidebar-with-footer" style="background: #FFFFFF">
        <!-- Aplication Brand -->
        <div class="app-brand">
          <a href="/index.html" title="Sleek Dashboard">

<!--            <svg-->
<!--              class="brand-icon"-->
<!--              xmlns="http://www.w3.org/2000/svg"-->
<!--              preserveAspectRatio="xMidYMid"-->
<!--              width="30"-->
<!--              height="33"-->
<!--              viewBox="0 0 30 33">-->
<!--              <g fill="none" fill-rule="evenodd">-->
<!--                <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />-->
<!--                <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />-->
<!--              </g>-->
<!--            </svg>-->

            <span class="brand-name text-truncate"></span>
          </a>

        </div>

        <!-- begin sidebar scrollbar -->
        <div class="" data-simplebar style="height: 100%;">

          <!-- sidebar menu -->
          <ul class="nav sidebar-inner" id="sidebar-menu">
            <p class="centered"><img src="assets/img/logCap.PNG" class="img-circle" ></p>
            <li class="has-sub active expand">
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
                 aria-expanded="false" aria-controls="dashboard">
                <i class="mdi mdi-view-dashboard-outline"></i>
                <span class="nav-text">Dashboard</span> <b class="caret"></b>
              </a>

              <ul class="collapse show" id="dashboard" data-parent="#sidebar-menu">
                <div class="sub-menu">
                  <li class="active">
                    <a class="sidenav-item-link" href="index.html">
                      <span class="nav-text"  style="color: #0c0c0c">Dashbord</span>
                    </a>
                  </li>

                </div>
              </ul>
            </li>

            <li class="has-sub ">
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#app"
                 aria-expanded="false" aria-controls="app">
                <i class="mdi mdi-pencil-box-multiple"></i>
                <span class="nav-text">Gestion Utilisateur</span> <b class="caret"></b>
              </a>

              <ul class="collapse " id="app" data-parent="#sidebar-menu">
                <div class="sub-menu">


                  <li class="">
                    <a class="sidenav-item-link" href="contacts.html">
                      <span class="nav-text">Lister</span>
                    </a>
                    <a class="sidenav-item-link" href="contacts.html">
                      <span class="nav-text">Ajouter</span>
                    </a>
                  </li>



                </div>
              </ul>
            </li>

            <!-- <li class="section-title">
              UI Elements
            </li> -->


            <li class="has-sub ">
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#forms"
                 aria-expanded="false" aria-controls="forms">
                <i class="mdi mdi-email-mark-as-unread"></i>
                <span class="nav-text">Gestion des Carnets</span> <b class="caret"></b>
              </a>

              <ul class="collapse " id="forms" data-parent="#sidebar-menu">
                <div class="sub-menu">
                  <li class="">
                    <a class="sidenav-item-link" href="basic-input.html">
                      <span class="nav-text">Lister</span>
                    </a>
                  </li>
                  <li class="">
                    <a class="sidenav-item-link" href="input-group.html">
                      <span class="nav-text">Ajouter</span>
                    </a>
                  </li>
                </div>
              </ul>
            </li>
            <li class="has-sub ">
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#forms"
                 aria-expanded="false" aria-controls="forms">
                <i class="mdi mdi-email-mark-as-unread"></i>
                <span class="nav-text">Gestion des Vaccins</span> <b class="caret"></b>
              </a>

              <ul class="collapse "  data-parent="#sidebar-menu">
                <div class="sub-menu">
                  <li class="">
                    <a class="sidenav-item-link" href="basic-input.html">
                      <span class="nav-text">Lister</span>
                    </a>
                  </li>
                  <li class="">
                    <a class="sidenav-item-link" href="input-group.html">
                      <span class="nav-text">Ajouter</span>
                    </a>
                  </li>
                </div>
              </ul>
            </li>

            <li class="has-sub ">
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#tables"
                 aria-expanded="false" aria-controls="tables">
                <i class="mdi mdi-table"></i>
                <span class="nav-text">Parametrage Notification</span> <b class="caret"></b>
              </a>

              <ul class="collapse " id="table" data-parent="#sidebar-menu">
                <div class="sub-menu">
                  <li class="">
                    <a class="sidenav-item-link" href="basic-tables.html">
                      <span class="nav-text">Lister</span>
                    </a>
                  </li>

                  <li class="has-sub ">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#data-tables"
                       aria-expanded="false" aria-controls="data-tables">
                      <span class="nav-text">Ajouter</span> <b class="caret"></b>
                    </a>


                  </li>
                </div>
              </ul>

              <ul class="collapse " id="tables" data-parent="#sidebar-menu">
                <div class="sub-menu">
                  <li class="">
                    <a class="sidenav-item-link" href="basic-tables.html">
                      <span class="nav-text">Lister</span>
                    </a>
                  </li>

                  <li class="has-sub ">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#data-tables"
                       aria-expanded="false" aria-controls="data-tables">
                      <span class="nav-text">Ajouter</span> <b class="caret"></b>
                    </a>


                  </li>
                </div>
              </ul>
            </li>




            <!-- <li class="section-title">
              Pages
            </li> -->

            <!-- <li class="section-title">
              Documentation
            </li> -->
          </ul>
        </div>


      </div>
    </aside>


    <!-- ====================================
  ——— PAGE WRAPPER
  ===================================== -->
    <div class="page-wrapper">

      <!-- Header -->
      <header class="main-header " id="header">
        <nav class="navbar navbar-static-top navbar-expand-lg">
          <!-- Sidebar toggle button -->
          <button id="sidebar-toggler" class="sidebar-toggle">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <!-- search form -->
          <div class="search-form d-none d-lg-inline-block">
<!--            <div class="input-group">-->
<!--              <button type="button" name="search" id="search-btn" class="btn btn-flat">-->
<!--                <i class="mdi mdi-magnify"></i>-->
<!--              </button>-->
<!--              <input type="text" name="query" id="search-input" class="form-control" placeholder="'button', 'chart' etc."-->
<!--                     autofocus autocomplete="off" />-->
<!--            </div>-->
            <div id="search-results-container">
              <ul id="search-results"></ul>
            </div>
          </div>

          <div class="navbar-right ">
            <ul class="nav navbar-nav">
              <li class="dropdown notifications-menu custom-dropdown">
                <button class="dropdown-toggle notify-toggler custom-dropdown-toggler">
                  <i class="mdi mdi-bell-outline"></i>
                </button>

                <div class="card card-default dropdown-notify dropdown-menu-right mb-0">
<!--                  <div class="card-header card-header-border-bottom px-3">-->
<!--                    <h2>Notifications</h2>-->
<!--                  </div>-->

                  <div class="card-body px-0 py-3">
                    <ul class="nav nav-tabs nav-style-border p-0 justify-content-between" id="myTab" role="tablist">
                      <li class="nav-item mx-3 my-0 py-0">
                        <a class="nav-link active pb-3" id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home2" aria-selected="true">All (11)</a>
                      </li>

                      <li class="nav-item mx-3 my-0 py-0">
                        <a class="nav-link pb-3" id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2" aria-selected="false">Msgs (6)</a>
                      </li>

                      <li class="nav-item mx-3 my-0 py-0">
                        <a class="nav-link pb-3" id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false">Others (5)</a>
                      </li>
                    </ul>

                    <div class="tab-content" id="myTabContent3">


                      <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile2-tab">
                        <ul class="list-unstyled" data-simplebar style="height: 360px">
                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification">
                              <div class="position-relative mr-3">
                                <img class="rounded-circle" src="assets/img/user/u6.jpg" alt="Image">
                                <span class="status away"></span>
                              </div>
                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">William</h4>
                                  <p class="last-msg">Donec mattis augue a nisl consequat, nec imperdiet ex rutrum. Fusce et vehicula enim. Sed in enim eu odio vehic.</p>

                                  <span class="font-size-12 font-weight-medium text-secondary">
                                        <i class="mdi mdi-clock-outline"></i> 1 hrs ago...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>

                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification">
                              <div class="position-relative mr-3">
                                <img class="rounded-circle" src="assets/img/user/u7.jpg" alt="Image">
                                <span class="status away"></span>
                              </div>
                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">Camble</h4>
                                  <p class="last-msg">Nam ut nisi erat. Ut quis tortor varius, hendrerit arcu quis, congue nisl. In scelerisque, sem ut ve.</p>

                                  <span class="font-size-12 font-weight-medium text-secondary">
                                        <i class="mdi mdi-clock-outline"></i> 1 hrs ago...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>

                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification media-active">
                              <div class="position-relative mr-3">
                                <img class="rounded-circle" src="assets/img/user/u1.jpg" alt="Image">
                                <span class="status active"></span>
                              </div>
                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">Abril</h4>
                                  <p class="last-msg">Donec mattis augue a nisl consequat, nec imperdiet ex rutrum. Fusce et vehicula enim. Sed in enim eu odio vehic.</p>

                                  <span class="font-size-12 font-weight-medium text-white">
                                        <i class="mdi mdi-clock-outline"></i> Just now...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>

                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification">
                              <div class="position-relative mr-3">
                                <img class="rounded-circle" src="assets/img/user/u2.jpg" alt="Image">
                                <span class="status away"></span>
                              </div>
                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">Aaren</h4>
                                  <p class="last-msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque doloremque odio, eligendi delectus vitae.</p>

                                  <span class="font-size-12 font-weight-medium text-secondary">
                                        <i class="mdi mdi-clock-outline"></i> 1 hrs ago...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>

                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification">
                              <div class="position-relative mr-3">
                                <img class="rounded-circle" src="assets/img/user/u5.jpg" alt="Image">
                                <span class="status away"></span>
                              </div>
                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">Emma</h4>
                                  <p class="last-msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque doloremque odio, eligendi delectus vitae.</p>

                                  <span class="font-size-12 font-weight-medium text-secondary">
                                        <i class="mdi mdi-clock-outline"></i> 1 hrs ago...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>

                        </ul>
                      </div>

                      <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact2-tab">
                        <ul class="list-unstyled" data-simplebar style="height: 360px">
                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification event-active">

                              <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-info text-white">
                                <i class="mdi mdi-calendar-check font-size-20"></i>
                              </div>

                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">New event added</h4>
                                  <p class="last-msg font-size-14">03/Jan/2020 (1pm - 2pm)</p>

                                  <span class="font-size-12 font-weight-medium text-secondary">
                                        <i class="mdi mdi-clock-outline"></i> 10 min ago...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>

                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification">

                              <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-warning text-white">
                                <i class="mdi mdi-chart-areaspline font-size-20"></i>
                              </div>

                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">Sales report</h4>
                                  <p class="last-msg font-size-14">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam itaque doloremque odio, eligendi delectus vitae.</p>

                                  <span class="font-size-12 font-weight-medium text-secondary">
                                        <i class="mdi mdi-clock-outline"></i> 1 hrs ago...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>

                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification">

                              <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
                                <i class="mdi mdi-account-multiple-check font-size-20"></i>
                              </div>

                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">Add request</h4>
                                  <p class="last-msg font-size-14">Add Dany Jones as your contact consequat nec imperdiet ex rutrum. Fusce et vehicula enim. Sed in enim.</p>

                                  <button type="button" class="my-1 btn btn-sm btn-success">Accept</button>
                                  <button type="button" class="my-1 btn btn-sm btn-secondary">Delete</button>

                                  <span class="font-size-12 font-weight-medium text-secondary d-block">
                                        <i class="mdi mdi-clock-outline"></i> 5 min ago...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>

                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification">

                              <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-danger text-white">
                                <i class="mdi mdi-server-network-off font-size-20"></i>
                              </div>

                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">Server overloaded</h4>
                                  <p class="last-msg font-size-14">Donec mattis augue a nisl consequat, nec imperdiet ex rutrum. Fusce et vehicula enim. Sed in enim eu odio vehic.</p>

                                  <span class="font-size-12 font-weight-medium text-secondary">
                                        <i class="mdi mdi-clock-outline"></i> 30 min ago...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>

                          <li>
                            <a href="javscript:void(0)" class="media media-message media-notification">

                              <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-purple text-white">
                                <i class="mdi mdi-playlist-check font-size-20"></i>
                              </div>

                              <div class="media-body d-flex justify-content-between">
                                <div class="message-contents">
                                  <h4 class="title">Task complete</h4>
                                  <p class="last-msg font-size-14">Nam ut nisi erat. Ut quis tortor varius, hendrerit arcu quis, congue nisl. In scelerisque, sem ut ve.</p>

                                  <span class="font-size-12 font-weight-medium text-secondary">
                                        <i class="mdi mdi-clock-outline"></i> 2 hrs ago...
                                      </span>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <ul class="dropdown-menu dropdown-menu-right d-none">
                  <li class="dropdown-header">You have 5 notifications</li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-account-plus"></i> New user registered
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-account-remove"></i> User deleted
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 07 AM</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-chart-areaspline"></i> Sales report is ready
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 12 PM</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-account-supervisor"></i> New client
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-server-network-off"></i> Server overloaded
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 05 AM</span>
                    </a>
                  </li>
                  <li class="dropdown-footer">
                    <a class="text-center" href="#"> View All </a>
                  </li>
                </ul>
              </li>
              <li class="right-sidebar-in right-sidebar-2-menu">
                <i class="mdi mdi-settings mdi-spin"></i>
              </li>
              <!-- User Account -->
              <li class="dropdown user-menu">
                <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <img src="assets/img/user/user.png" class="user-image" alt="User Image" />
                  <span class="d-none d-lg-inline-block">Abdus Salam</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <!-- User image -->
                  <li class="dropdown-header">
                    <img src="assets/img/user/user.png" class="img-circle" alt="User Image" />
                    <div class="d-inline-block">
                      Abdus Salam <small class="pt-1">iamabdus@gmail.com</small>
                    </div>
                  </li>

                  <li>
                    <a href="user-profile.html">
                      <i class="mdi mdi-account"></i> My Profile
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-email"></i> Message
                    </a>
                  </li>
                  <li>
                    <a href="#"> <i class="mdi mdi-diamond-stone"></i> Projects </a>
                  </li>
                  <li class="right-sidebar-in">
                    <a href="javascript:0"> <i class="mdi mdi-settings"></i> Setting </a>
                  </li>

                  <li class="dropdown-footer">
                    <a href="index.html"> <i class="mdi mdi-logout"></i> Log Out </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>


      <!-- ====================================
      ——— CONTENT WRAPPER
      ===================================== -->
      <div class="content-wrapper">
        <div class="content">






          <!-- Top Statistics -->
          <div class="row">
            <div class="col-xl-3 col-sm-6">
              <div class="card card-mini mb-4">
                <div class="card-body">
                  <h2 class="mb-1">71,503</h2>
                  <p>Online Signups</p>
                  <div class="chartjs-wrapper">
                    <canvas id="barChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              <div class="card card-mini  mb-4">
                <div class="card-body">
                  <h2 class="mb-1">9,503</h2>
                  <p>New Visitors Today</p>
                  <div class="chartjs-wrapper">
                    <canvas id="dual-line"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              <div class="card card-mini mb-4">
                <div class="card-body">
                  <h2 class="mb-1">71,503</h2>
                  <p>Monthly Total Order</p>
                  <div class="chartjs-wrapper">
                    <canvas id="area-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              <div class="card card-mini mb-4">
                <div class="card-body">
                  <h2 class="mb-1">9,503</h2>
                  <p>Total Revenue This Year</p>
                  <div class="chartjs-wrapper">
                    <canvas id="line"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xl-8 col-md-12">

              <!-- Sales Graph -->
              <div class="card card-default">
                <div class="card-header">
                  <h2>Sales Of The Year</h2>
                </div>
                <div class="card-body">
                  <canvas id="linechart" class="chartjs"></canvas>
                </div>
                <div class="card-footer d-flex flex-wrap bg-white p-0">
                  <div class="col-6 px-0">
                    <div class="text-center p-4">
                      <h4>$6,308</h4>
                      <p class="mt-2">Total orders of this year</p>
                    </div>
                  </div>
                  <div class="col-6 px-0">
                    <div class="text-center p-4 border-left">
                      <h4>$70,506</h4>
                      <p class="mt-2">Total revenue of this year</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-xl-4 col-md-12">

              <!-- Doughnut Chart -->
              <div class="card card-default">
                <div class="card-header justify-content-center">
                  <h2>Orders Overview</h2>
                </div>
                <div class="card-body" >
                  <canvas id="doChart" ></canvas>
                </div>
                <a href="#" class="pb-5 d-block text-center text-muted"><i class="mdi mdi-download mr-2"></i> Download overall report</a>
                <div class="card-footer d-flex flex-wrap bg-white p-0">
                  <div class="col-6">
                    <div class="py-4 px-4">
                      <ul class="d-flex flex-column justify-content-between">
                        <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2" style="color: #4c84ff"></i>Order Completed</li>
                        <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2" style="color: #80e1c1 "></i>Order Unpaid</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6 border-left">
                    <div class="py-4 px-4 ">
                      <ul class="d-flex flex-column justify-content-between">
                        <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2" style="color: #8061ef"></i>Order Pending</li>
                        <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2" style="color: #ffa128"></i>Order Canceled</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-xl-4 col-lg-6 col-12">

              <!-- Polar and Radar Chart -->

            </div>

            <div class="col-xl-4 col-lg-6 col-12">

              <!-- Top Sell Table -->

            </div>

            <div class="col-xl-4 col-12">


            </div>
          </div>

          <div class="row">
            <div class="col-12">

              <!-- Recent Order Table -->


            </div>
          </div>

          <div class="row">
            <div class="col-xl-6">

              <!-- To Do list -->
              <div class="card card-default todo-table" id="todo">
                <div class="card-header d-block pb-0 ">
                  <div class="todo-single-item mb-0" id="todo-input">
                    <form class="todo-form">
                      <div class="input-group mb-0">
                        <input type="text" class="form-control border-right-0" placeholder="Add Todo" required="" autofocus>
                        <div class="input-group-append ml-0">
                          <button class="input-group-text border-0 btn bg-primary" type="submit">
                            <?xml version="1.0"?>
                            <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 448 448" width="18" class="">
                              <g><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                              </g>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="card-body compact-to-do-list" data-simplebar style="height: 450px;">
                  <div class="todo-list" id="todo-list" >
                    <div id="item" class="todo-single-item todo-item d-flex flex-row justify-content-between finished alert alert-dismissible fade show" role="alert">
                      <i class="mdi"></i>
                      <span>Finish Dashboard UI Kit update</span>

                      <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"/><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"/></svg>
                            </span>
                      </div>
                    </div>

                    <div class="todo-single-item d-flex flex-row justify-content-between current alert alert-dismissible fade show" role="alert">
                      <i class="mdi"></i>
                      <span>Create new prototype for the landing page</span>

                      <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"/><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"/></svg>
                            </span>
                      </div>
                    </div>

                    <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">
                      <i class="mdi"></i>
                      <span>Add new Google Analytics code to all main files sed auctor lacus in sem interdum, ac gravida tortor elementum. Cras magna enim.</span>

                      <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"/><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"/></svg>
                            </span>
                      </div>
                    </div>

                    <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">
                      <i class="mdi"></i>
                      <span>Update parallax scroll on team page</span>

                      <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"/><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"/></svg>
                            </span>
                      </div>
                    </div>

                    <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">
                      <i class="mdi"></i>
                      <span>Integer et porta odio, pulvinar pretium eros. Curabitur vel tellus erat.</span>

                      <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"/><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"/></svg>
                            </span>
                      </div>
                    </div>

                    <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">
                      <i class="mdi"></i>
                      <span>Pellentesque blandit ut eros sed vehicula.</span>

                      <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"/><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"/></svg>
                            </span>
                      </div>
                    </div>

                    <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">
                      <i class="mdi"></i>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis ligula, fringilla in volutpat sit amet, viverra nec mi. Donec at dui dolor.</span>

                      <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"/><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"/></svg>
                            </span>
                      </div>
                    </div>

                    <div class="todo-single-item d-flex flex-row justify-content-between mb-1 alert alert-dismissible fade show" role="alert">
                      <i class="mdi"></i>
                      <span>Update parallax scroll on team page</span>

                      <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"/><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"/></svg>
                            </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3"></div>
              </div>

            </div>

            <div class="col-xl-6">

              <!-- area chart -->


            </div>
          </div>

          <div class="row">
            <div class="col-xl-5">

              <!-- New Customers -->

            </div>

            <div class="col-xl-7">

              <!-- Top Products -->


            </div>
          </div>

        </div> <!-- End Content -->
      </div> <!-- End Content Wrapper -->
    </div>
  </div>

</div>


